.button-lg {
    display: block;
    color: white;
    width: 20rem;
    height: 3rem;
    outline: none;
    border: 0;
    text-align: center;
    background-color: hsl(62,67,56);
    margin: 10px;
}

.button-xlg {
    // display:block;
    width:25rem;
    height: 2rem;
    background-color: hsl(62,67,56);
    border: 0;
    outline: none;
    color: white;

}
.button-sm{
    display: block;
    margin: 5px;
    width: 7rem;
    height: 2rem;
    background-color: hsl(62,67,56);
    border: none;
    outline: none;
    color: white;
}