@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.nav-bar {
  border: 1px solid grey;
  margin: 4%;
  padding: 0 2%;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 1% 2% 0 2%;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  color: grey;
  text-decoration: none;
  position: relative;
}
.nav-link:after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #d6db46;
  width: 0;
  left: 35%;
  line-height: 1px;
  bottom: 0;
}
.nav-link:hover {
  color: black;
}

.nav-link:hover:after {
  background-color: #d6db46;
  width: 30%;
}
@media screen and (max-width: 440px) {
  .nav-bar {
    border: none;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: justify;
  }
}

@media screen and (max-width: 320px) {
  .nav-bar {
    border: none;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: justify;
    font-size: 0.8rem;
  }

  .nav-link {
    font-family: "Roboto", sans-serif;
    color: grey;
    text-decoration: none;
    position: relative;
  }
  .nav-link:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    left: 0;
    bottom: 0;
  }
  .nav-link:hover {
    color: black;
  }

  .nav-link:hover:after {
    width: 0;
  }
}

@media screen and (min-width: 720px) {
  .nav-link{
    font-size: 12px;
  }
}