@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.food-wrapper {
  // margin-left: -15%;
  width: 100%;
}
.food-category {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #d6db46;
  padding: 1% 0 1% 10%;
  width: 100%;
  margin-bottom: 0;
}
.food-cate {
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid gray;
  padding: 1% 0 1% 10%;
  width: 100%;
}
