*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.restaurant-page-main {
    background-color: #E5E5E5;
    font-family: Roboto;

    .left-main-section{

    }
    .middle-main-section{

    }
    .right-main-section{
        
    }
}