@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@mixin  restaurant-info-page-media-query($width){
    @media screen and (max-width: $width){
        @content;
    }
    
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Roboto;
}     
      .middle-main-section-bodies{
        margin: 0px;
        border: 1px solid #FFFFFF;
        background-color: #FFFFFF;
        box-shadow: 7px 35px 100px rgba(0, 0, 0, 0.1);
        padding: 50px 30px;
        font-size: 15px;
        line-height: 19px;
}