
.button{
    display: block;
    height:3rem ;
    width: 16rem;
    border: none;
    outline: none;
    color:white;
    border-radius: 0;
    margin: 15px
    // background-color: hsl(62,67,56);
}