.header-wrapper {
    background-image: url("https://res.cloudinary.com/dtbjhs8a6/image/upload/v1572514768/my%20project/lr6xb0ipqmwtgny4lxtu.png");
    height: 40em;
    width: 100%;
    background-repeat: no-repeat; 
    background-position: right;
}