.input {
    display: block;
    color: lightgrey;
    width: 20rem;
    height: 3.5rem;
    margin: 10px;
}

.input::-webkit-input-placeholder{
    color: grey;
    text-align: left;
}
.input:focus {
    color: black;
    font-size: 16px;
    border-color: none;
}