@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");


.dashmenu-wrapper{
    display: flex;
    justify-content: flex-start;
    word-wrap: none;
   margin: 2%;
}

.dash-button{
    background-color: #ffffff;
    color: #5c5b5bca;
    border: none;
    padding-left: 2px;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    width: 20%;
    &:hover{
        background-color: #d6db46;
        color: #ffffff;
    }
}