.food-card{
    color: rgba(0, 0, 0, 0.6);
    display: flex;
     justify-content: space-between; 
    line-height: 5px;
    border: 1px solid grey;
    margin: 2%;
    width: 100%;
    background-color: #ffffff;
   }
  .image{
    padding: 1% 3%;
    }

  .food--price{
    font-size: 16px;
    border-left: 1px solid grey;
    &__order{
    margin-top: 30%}
    &__btn{
        margin: auto 0;
    }
  }
  
  .btn-action{
    border: none;
    height: 30px;
    width: 91px;
    background-color: #D6DB46;
    color: #ffffff;
   font-weight: bold;
   font-size: 12px;
   margin-left: -30%;
   cursor: pointer;
  }