@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.menu-head {
  display: flex;
  margin-left: 2%;
  line-height: 1;
  margin-top: 5%;
  font-family: "Roboto", sans-serif;
}
.restaurant-title {
  font-weight: bold;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 50px;
}
.restau-info {
  font-size: 25px;
  padding: 1% 0 1% 0;
  color: rgba(0, 0, 0, 0.6);
}
.delivery-fee {
  font-size: 25px;
  padding: 1% 0 1% 0;
  color: rgba(0, 0, 0, 0.6);
}
.ratings {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.6);
}
.order-min-max {
  font-size: 25px;
  padding: 1% 0 1% 0;
  color: rgba(0, 0, 0, 0.6);
}
.restaulogo {
  margin-right: 1%;
  margin-top: -2%;
}

.menu-links {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 2%;
}

.menu-link {
  background-color: #d6db46;
  padding: 2%;
  width: 45%;
  &__two {
    width: 20%;
    background-color: #d6db46;
    padding: 2%;
    margin-right: 28%;
  }
}

.link {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  &:hover {
    color: #ffffff;
    text-decoration: none;
  }
}
